<div>
    <div class="dk-form1">
        <div class="dk-form2" style="font-family:Roboto,Helvetica,Arial,sans-serif;">
            <div class = dk-form3>
                <h2 style="font-size: 26px;"> ĐĂNG KÝ </h2>
                
				<!--
				<div style="font-size: 13px;" class="hr-sect color-black-2">Dùng mạng xã hội</div>
                
                <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                </div>
                
                <div style="font-size: 13px;" class="hr-sect color-black-2">hoặc</div> 
				-->
                
				<span ng-model="error" ng-style="errorStyle" style="text-align: left; float:left; font-size: 12px; display:none;" > {{errorText}} </span>
				
				<input class="input-dk" id="inputID" placeholder="Tên đăng nhập" ng-model="userID"/>
                <input class="input-dk" id="inputName" placeholder="Tên hiển thị" ng-model="username"/>
                <input class="input-dk" id="inputPassword" placeholder="Mật khẩu" type="password" ng-model="password"/>
                <input class="input-dk" id="inputRePassword" placeholder="Xác nhận mật khẩu" type="password" ng-model="retypePassword"/>
                
                <button type="button" ng-click="signUp()" class="btn-dk" style="margin-top: 15px;" > <i class="fa fa-user-circle" style="padding-right:6px;"> </i><strong>ĐĂNG KÝ</strong></button>
                
                <div style="padding-top: 15px; margin-bottom: 15px;">
                    <a class="text-dk" ng-click="goToSignIn()"><strong>Bạn đã có tài khoản?</strong> Đăng nhập ngay</a>
                </div>
                
                <hr/>
                
                <div style="padding-top: 5px;">
                    <a class="text-dk" ng-click="goToHome()"><strong>Về trang chủ</strong></a>
                </div>
                
            </div>
        </div>
    </div>
</div>