<div class="dn-background">
    <div class="dk-form1">
        <div class="dk-form2" style="font-family:Roboto,Helvetica,Arial,sans-serif;">
            <div class = dk-form3>
                <h2 style="font-size: 26px;"> ĐĂNG NHẬP </h2>
                
                <div style="font-size: 13px;" class="hr-sect color-black-2">Dùng mạng xã hội</div>
                
                <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                </div>
                
                <div style="font-size: 13px;" class="hr-sect color-black-2">hoặc</div>
                
                <input class="input-dn" placeholder="Tên đăng nhập hoặc địa chỉ Email"/>
                <input class="input-dn" placeholder="Mật khẩu" type="password"/>
                
                <a class="text-dk" href="/forgot-password" style="float:right; margin-top: 15px;">Quên mật khẩu?</a>
                
                <button type="button" class="btn-dn" style="margin-top: 15px;"> <i class="fa fa-unlock-alt" style="padding-right:6px;"> </i><strong>ĐĂNG NHẬP</strong></button>
                
                <div style="padding-top: 15px; margin-bottom: 15px;">
                    <a class="text-dk" href="/forgot-password"><strong>Bạn chưa có tài khoản?</strong> Đăng kí ngay</a>
                </div>
                
                <hr/>
                
                <div style="padding-top: 5px;">
                    <a class="text-dk" href="/forgot-password"><strong>Về trang chủ</strong></a>
                </div>
                
            </div>
        </div>
    </div>
</div>