<div style="background: white;">
	<div class="top-header" id="fixedHeader">
		<div class="fix-header-div1" ng-click="goTo_Home()"></div>
		<div class="fix-header-div2">
			<input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?" ng/>
			<button class="btn-tim-kiem" ng-click="goTo_Search_Result()"><i class="fa fa-search" style="color: white;"> </i> </button>
			<button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
		</div>
	</div>
	<div class="header" id="defaultHeader">
		<div class="header-div1">
			<div class="link-dk-dn" ng-show="show1" >
				<a class="text-link-dk-dn" ng-click="goTo_Login()">Đăng nhập</a>
				<a class="text-link-dk-dn" ng-click="goTo_SignUp()">Đăng ký</a>
			</div>
			
			<div ng-hide="show1">
				<div class="dropdown">
					<div class="box-username">
						<i class="fa fa-user-circle icon-user" style="font-size:18px;"></i>
						<a class="text-username"> {{username }}</a>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-account">
							<span class="dropdown-myInfo" ng-click="goTo_User_Info()"> Trang cá nhân </span>
						</div>
						<div class="dropdown-account">
							<span class="dropdown-logOut" ng-click="goTo_Logout()"> Đăng xuất </i> </span>
						</div>
					</div>
				</div>
				
				<div id="notiBoxFollow" ng-class="notiFollowClass" ng-init="notiFollowClass = 'box-noti'" ng-click="showNotiFollow()">
					<i class="fa fa-heart icon-notification" style="font-size:18px;"></i>
					<span class="badge" ng-show='haveFollowNoti'>{{follow_noti}}</span>
					<div id="notiFollow" class="div-show-follow-container" ng-show="divNotiFollow">
						<span class="text-noti text-noti-delete" style="float:right; margin-right: 10px;"ng-click='deleteAllFollowNoti($index)'> Xóa tất cả </span>
						<span class="text-noti" style="display:block"> <strong> THÔNG BÁO THEO DÕI </strong> </span>
						<div class="div-show-noti" ng-show="divNotiFollow">
							
							<div ng-repeat="follow in follow_info">
								<div class="noti-div-container">
									<div class="noti-div" ng-click="goTo_Item_Info(follow.itemID)">
										<div class="noti-img-div">
											<img class="noti-img" src="image/image-default.png">
										</div>
										<div class="noti-delete-div" ng-click='deleteFollowNoti'>
											<img class="noti-img" src="image/icon-delete.png">
										</div>
										<span style="display:block"> <strong> {{follow.name}} </strong>  </span>
										<span style="display:block"> {{follow.massage}}   </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div id="notiBoxAuction" ng-class="notiAuctionClass" ng-init="notiAuctionClass = 'box-noti'" ng-click="showNotiAuction()">
					<i class="fa fa-bell icon-notification" style="font-size:18px;"></i>
					<span class="badge" ng-show='haveAuctionNoti'>{{auction_noti}}</span>
					<div id="notiAuction" class="div-show-auction-container" ng-show="divNotiAuction">
						<span class="text-noti text-noti-delete" style="float:right; margin-right: 10px;" ng-click='deleteAllAuctionNoti($index)'> Xóa tất cả </span>
						<span class="text-noti" style="display:block"> <strong> THÔNG BÁO ĐẤU GIÁ </strong> </span>
						<div  class="div-show-noti" ng-show="divNotiAuction">
							
							<div ng-repeat="auction in auction_info">
								<div class="noti-div-container">
									<div class="noti-div" ng-click="goTo_Item_Info(auction.itemID)">
										<div class="noti-img-div">
											<img class="noti-img" src="image/image-default.png">
										</div>
										<div class="noti-delete-div" ng-click='deleteAuctionNoti($index)'>
											<img class="noti-img" src="image/icon-delete.png">
										</div>
										<span style="display:block"> <strong> {{auction.name}} </strong>  </span>
										<span style="display:block"> {{auction.massage}}   </span>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="header-div2" ng-click="goTo_Home()">
		</div>
		
		<div class="header-div3">
			<input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?"/>
			<button class="btn-tim-kiem" ng-click="goTo_Search_Result()" ><i class="fa fa-search" style="color: white;"> </i> </button>
			<button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
		</div>
	</div>
	
	<div class="banner">
		<div class="banner-div1">
			<div class="danh-muc dropdown dropdown-left">
				
				<span> DANH MỤC SẢN PHẨM <i class="fa fa-caret-down icon-user" style="font-size:18px; padding-top: 5px; margin-right: 16px; float: right;"></i> </span>
				
				<div class="dropdown-content">
					<div class="item" ng-click="goTo_Item_List('do-dien-tu')">
						<i class="fa fa-laptop" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Đồ điện tử </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('giai-tri-the-thao-so-thich')">
						<i class="fa fa-futbol-o" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Giải trí, thể thao, sở thích </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('xe-co-may-moc')">
						<i class="fa fa-car" style="font-size:22px; vertical-align: -3px; width: 34px;" > </i>
						<span> Xe cộ, máy móc </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('me-va-be')">
						<i class="fa fa-child" style="font-size:24px; vertical-align: -3px; width: 29px; padding-left: 5px;" > </i>
						<span> Mẹ và bé </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('thoi-trang-va-phu-kien')">
						<i class="fa fa-umbrella" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Thời trang & phụ kiện </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('do-an-thuc-uong')">
						<i class="fa fa-cutlery" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Đồ ăn, thức uống </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('do-gia-dung')">
						<i class="fa fa-shower" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Đồ gia dụng </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('suc-khoe-va-sac-dep')">
						<i class="fa fa-heart" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Sức khỏe & sắc đẹp </span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('bat-dong-san')">
						<i class="fa fa-home" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Bất động sản</span>
					</div>
					
					<div class="item" ng-click="goTo_Item_List('cac-loai-khac')">
						<i class="fa fa-gears" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
						<span> Các loại khác </span>
					</div>
				</div>
			</div>
			<span style="padding-left:50px; line-height:40px; font-size:15px;"> {{item_type}}  </span>
		</div>
	</div>
	
	<div class="body-item">
		
		<div class="body-item-div1">
			<img class="body-item-img" ng-src="{{item_picture}}">
		</div>
		
		<div class="body-item-div2">
			<div class="body-item-name">
				<span> {{item_name}}</span>
			</div>
			
			<div class="body-price" ng-init="changeNumber()">
				<span style="display:block; color: #666; font-size: 15px;" ng-show='priceStart'> Giá khởi điểm:</span>
				<span style="display:block; color: #666; font-size: 15px;" ng-show='priceNow'> Giá hiện tại:</span>
				<span style="display:block; color: #666; font-size: 15px;" ng-show='priceEnd'> Giá thắng cuộc:</span>
				<span> {{item_price}} <u> đ </u></span>
			</div>
			
			<div class="div-dau-gia" ng-hide="ownItem">
				<input class="input-price" placeholder="NHẬP GIÁ"  ng-model="yourPrice" ng-keypress="filterValue($event)" ng-change="changePrice()" />
				<button class="btn-dau-gia" ng-click="bidItem()"><i class="fa fa-gavel" style=" font-size: 20px;"> </i> ĐẤU GIÁ </button>
			</div>
			
			<div class="div-dau-gia" ng-show="ownItem">
				<div style="margin-top:20px; padding-bottom:20px; color:#666;">
					<span>  <i> *** Đây là sản phẩm của bạn *** </i> </span>
				</div>
			</div>
			
			<div class="div-info-1">
				<span class="info-title-1"> <i class="fa fa-star" style=" width:16px;"> </i>Tình trạng</span>
				<span style="display:block;"> {{item_situation}} </span>
				
				<span class="info-title-1"> <i class="fa fa-map-marker" style=" width:14px; margin-left: 2px;"> </i>Nơi bán</span>
				<span style="display:block;"> {{item_location}} </span>
				
				<span class="info-title-1"> <i class="fa fa-truck" style=" width:16px;"> </i>Vận chuyển</span>
				<span> {{item_trans}} </span>
			</div>
			
			<div class="div-info-2">
				<span class="info-title-1" style="width: 100%; padding-bottom: 5px;"> <i class="fa fa-certificate" style=" width:16px;"> </i>Mô tả</span>
				<br>
			<pre>{{item_content}}</pre>
		</div>
		
		<div ng-hide="expiredShow">
			<div class="div-info-3" ng-hide="ownItem">
				<span class="info-title-2" ng-hide="show2" ng-click="Theo_doi()"> <i class="fa fa-eye" style=" width:20px;"> </i>Theo dõi</span>
				<span class="info-title-3" ng-show="show2" ng-click="Bo_theo_doi()">Đang theo dõi</span>
				<!--<span class="info-title-4" style="margin-right: 20px;"> <i class="fa fa-warning" style=" width:20px;"> </i>Báo sai phạm</span>-->
			</div>
		</div>
	</div>
	
	<div class="body-item-div3">
		
		<div ng-hide="expiredShow">
			<div>
				<div class="body-info-name">
					<span> THỜI GIAN HẾT HẠN </span>
				</div>
				
				<div class="div-time-expire">
					<span> {{item_dateExpire}} </span>
				</div>
			</div>
			
			<div>
				<div class="body-info-name">
					<span> THỜI GIAN CÒN LẠI </span>
				</div>
				
				<div id="defaultCountdown">
				</div>
			</div>
		</div>
		
		<div class="ket-thuc" ng-show="expiredShow">
			<span> ĐẤU GIÁ ĐÃ KẾT THÚC </span>
		</div>
		
		<div class="info-xep-hang" ng-hide="show3">
			<div class="body-info-name-3">
				<span> TRẢ GIÁ CAO NHẤT</span>
			</div>
			
			<span ng-show="noBuyer"> <i> Chưa có người ra giá <i> </span>
			<span class="highest-name" ng-click="goTo_User_Info(buyer.ID)" ng-hide="noBuyer"> {{buyer.ten}} </span>
			<span class="highest-price" ng-hide="noBuyer"> {{item_price }} đ</span>
		</div>
		
		<div class="info-salesman">
			<div class="body-info-name-2">
				<span> THÔNG TIN NGƯỜI BÁN</span>
			</div>
			
			<div class="avatar-small-div" ng-click="goTo_User_Info(owner.ID)">
				<img class="avatar-small" ng-src="{{owner.avatar}}">
			</div>
			
			<span class="salesman-email" ng-click="goTo_User_Info(owner.ID)"> <strong>{{owner.ten}} </strong> </span>
		</div>
		
		<div class="info-salesman" ng-show="winnerShow">
			<div class="body-info-name-3">
				<span> NGƯỜI THẮNG CUỘC</span>
			</div>
			
			<div class="avatar-small-div" ng-click="goTo_User_Info(buyer.ID)">
				<img class="avatar-small" ng-src="{{buyer.avatar}}">
			</div>
			
			<span class="salesman-email" ng-click="goTo_User_Info(buyer.ID)"> <strong>{{buyer.ten}} </strong> </span>
		</div>
	</div>
</div>


<div class="footer">
	<div class="footer-begin">
	</div>
	
	<div class="footer-container">
		<div class="footer-chuyen-muc">
			<div class="footer-title">
				<span> CHUYÊN MỤC </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('do-dien-tu')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Đồ điện tử </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('giai-tri-the-thao-so-thich')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Giải trí, Thể thao, Sở thích</span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('xe-co-may-moc')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Xe cộ, máy móc </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('me-va-be')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Mẹ và Bé </span>
			</div>
			
			<div class="footer-item" style="border-bottom: none;" ng-click="goTo_Item_List('thoi-trang-va-phu-kien')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Thời trang & Phụ kiện </span>
			</div>
		</div>
		
		<div class="footer-chuyen-muc">
			<div class="footer-title">
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('do-an-thuc-uong')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Đồ ăn, thức uống </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('do-gia-dung')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Đồ gia dụng </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('suc-khoe-va-sac-dep')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Sức khỏe & Sắc đẹp </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Item_List('bat-dong-san')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Bất động sản </span>
			</div>
			
			<div class="footer-item" style="border-bottom: none;" ng-click="goTo_Item_List('cac-loai-khac')">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Các loại khác </span>
			</div>
		</div>
		
		<div class="footer-chuyen-muc">
			<div class="footer-title">
				<span> THÔNG TIN </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_Login()">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Đăng nhập </span>
			</div>
			
			<div class="footer-item" ng-click="goTo_SignUp()">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Đăng ký </span>
			</div>
			<div class="footer-item" style="border-bottom: none;" ng-click="inDevelopmentAlert()">
				<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
				<span> Liên hệ </span>
			</div>
		</div>
		
		<div class="footer-ket-noi">
			<div class="footer-title">
				<span style="display:block;"> ĐĂNG KÍ NHẬN TIN ĐẤU GIÁ HỜI </span>
				<input class="input-email" placeholder="Nhập địa chỉ email của bạn"/>
				<button class="btn-subscribe" ng-click="inDevelopmentAlert()"><i class="fa fa-envelope" style="color: white;"> </i> THEO DÕI </button>
				
				<span style="display:block; clear:both"> KẾT NỐI VỚI CHÚNG TÔI </span>
				<div>
					<a class="icon-fb" ng-click="inDevelopmentAlert()"></a>
					<a class="icon-google" ng-click="inDevelopmentAlert()"></a>
				</div>
			</div>
		</div>
	</div>
	
	<div style="width: 100%; clear:both; padding-top: 30px;">
		<img class="footer-logo" src="image/logo-2.png">
	</div>
	
	<div class="footer-end">
		<span> Đấu giá - Trang web đồ án của Nguyễn Đình Chung - Đặng Thành Danh - Đinh Thị Thùy Dung :) </span>
	</div>
</div>

</div>
<script>
	//$(function () {
		//	changeText();
		//	var austDay = new Date();
		//	austDay = new Date(austDay.getFullYear(), 1 - 1, 8, 8, 0);
		//	$('#defaultCountdown').countdown({until: austDay, format: 'dHMS'});
		//	$('#year').text(austDay.getFullYear());
	//});
	
	window.onscroll = function() {myFunction()};
	function myFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			document.getElementById("fixedHeader").style.display = "block";
		} else {
			document.getElementById("fixedHeader").style.display = "none";
		}
	}
</script>
</html>