
<div style="background: white;">
    <div class="top-header" id="fixedHeader">
		<div class="fix-header-div1" ng-click="goTo_Home()"></div>
        <div class="fix-header-div2">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?" ng/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()"><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
	</div>

    <div class="header" id="defaultHeader">
        <div class="header-div1">
            <div class="link-dk-dn" ng-show="show1" >
                <a class="text-link-dk-dn" ng-click="goTo_Login()">Đăng nhập</a>
                <a class="text-link-dk-dn" ng-click="goTo_SignUp()">Đăng ký</a>
            </div>
            
            <div ng-hide="show1">
				<div class="dropdown">
					<div class="box-username">
						<i class="fa fa-user-circle icon-user" style="font-size:18px;"></i>
						<a class="text-username"> {{username }}</a>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-account"> 
							<span class="dropdown-myInfo" ng-click="goTo_User_Info()"> Trang cá nhân </span>
						</div>
						<div class="dropdown-account"> 
							<span class="dropdown-logOut" ng-click="goTo_Logout()"> Đăng xuất </i> </span>
						</div>
					</div>
				</div>
				
                <div class="icon-wrapper">
                    <i class="fa fa-heart icon-notification" style="font-size:18px;"></i>
                    <span class="badge">9</span>
                </div>
                
                <div class="icon-wrapper">
                    <i class="fa fa-bell icon-notification" style="font-size:18px;"></i>
                    <span class="badge">9</span>
                </div>
            </div>
        </div>
        
        <div class="header-div2" ng-click="goTo_Home()">
        </div>
        
        <div class="header-div3">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?"/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()" ><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
    </div>
        
    <div class="body-add-item">
		<div class="three-step-div">
            <div class="step1">
				<div class="circle-number">
					<span> 1 </span>
				</div>
				<span> ĐĂNG TIN</span>
            </div>
			<div class="step2-chosen">
				<div class="circle-number-chosen">
					<span> 2 </span>
				</div>
                <span> KIỂM TRA LẠI</span>
            </div>
			<div class="step3">
				<div class="circle-number">
					<span> 3 </span>
				</div>
                <span> HOÀN TẤT</span>
            </div>
        </div>
     
		<div class="add-item-info">
		
			<div style="border-bottom: 1px solid #ddd;">
				<span class="add-item-title"> {{item.item_name}} </span>
				
				<div class="check-item-div1">
					<img class="body-item-img" ng-src="{{item.item_image}}">
				</div>
				
				<div class="check-item-div2">
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-tag" style=" width:18px;"> </i>Giá khởi điểm</span>
						<span style="display:block;">{{item.item_price}}</span>
					</div>
					
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-clock-o" style=" width:18px;"> </i>Thời gian kết thúc</span>
						<span style="display:block;"> {{item.item_date}} </span>
					</div>
					
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-qrcode" style=" width:18px;"> </i>Chuyên mục</span>
						<span style="display:block;">{{item.item_type}}</span>
					</div>
					
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-star" style=" width:18px;"> </i>Trạng thái sản phẩm</span>
						<span style="display:block;">{{item.item_situation}}</span>
					</div>
					
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-map-marker" style=" width:18px;"> </i>Khu vực bán hàng</span>
						<span style="display:block;">{{item.item_location}}</span>
					</div>
					
					<div class="check-info">
						<span class="check-info-title"> <i class="fa fa-truck" style=" width:18px;"> </i>Vận chuyển</span>
						<span style="display:block;">{{item.item_trans}}</span>
					</div>
					
					<div class="check-info">
						<span class="info-title-1" style="width: 100%; padding-bottom: 5px;"> <i class="fa fa-certificate" style=" width:16px;"> </i>Mô tả</span> <br/>
						<pre style="display: block">{{item.item_content}}</pre>
					</div>
					
				</div>
			</div>	
		
			<div class="check-item-div3">
				<span class="add-item-title"> THÔNG TIN LIÊN HỆ </span>
				
				<div class="tooltip">
					<span class="add-info-label" > Số điện thoại <span class="color-red">*</span>  </span>				
					<input id="user_soDienThoai" ng-class="class_phone" ng-init="class_phone = 'add-info-input'" ng-model="user.soDienThoai" ng-keypress="filterValue($event)" ng-change="changePrice()"/>
					<span class="error" ng-show="error_show_phone"> {{error_phone}}</span>
				</div>
				
				<div class="tooltip">
					<span class="add-info-label" > Địa chỉ <span class="color-red">*</span> </span>				
					<input id="user_diaChi" ng-class="class_address" ng-init="class_address = 'add-info-input'" ng-model="user.diaChi"/>
					<span class="error" ng-show="error_show_address"> {{error_address}}</span>
				</div>
				
				<span style="font-size: 14px;"><i> * Lưu ý: Bạn bắt buộc phải có đủ thông tin liên hệ để có thể đăng tin </i> </span>
			</div>
			
			<div class="check-item-div4">
			<button class="btn-check-again" ng-click="updateUserAndCreateNewItem()"> Hoàn tất </button>
			<button class="btn-check-again" style="float: left;"><i class="fa fa-arrow-left" style="padding-right: 7px;"> </i>Quay lại </button>
			</div>
		</div>

    </div>


	
    <div class="footer">
    	<div class="footer-begin">
    	</div>
    
    	<div class="footer-container">
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> CHUYÊN MỤC </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ điện tử </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Giải trí, Thể thao, Sở thích</span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Xe cộ, máy móc </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Mẹ & Bé </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Thời trang & Phụ kiện </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ ăn, thức uống </span>
           		</div>   
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ gia dụng </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Sức khỏe & Sắc đẹp </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Bất động sản </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Các loại khác </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> INFOMATION </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng nhập </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng kí </span>
           		</div>  

                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Liên hệ </span>
           		</div>  
            </div>
            
            <div class="footer-ket-noi">
            	<div class="footer-title">
            		<span style="display:block;"> ĐĂNG KÍ NHẬN TIN ĐẤU GIÁ HỜI </span>
                    <input class="input-email" placeholder="Enter your email address"/>
            		<button class="btn-subscribe"><i class="fa fa-envelope" style="color: white;"> </i> SUBSCRIBE </button>
                    
 					<span style="display:block; clear:both"> KẾT NỐI VỚI CHÚNG TÔI </span>
                    <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                	</div>    
				</div>
			</div>
        </div>
            
    	<div style="width: 100%; clear:both; padding-top: 30px;">
        	<img class="footer-logo" src="image/logo-2.png">
    	</div>
    	
        <div class="footer-end">
        	<span> Đấu giá - trang web đồ án của Nguyễn Đình Chung - Đặng Thành Danh - Đinh Thị Thùy Dung :) </span>
    	</div>
    </div>
    
</div>

<script>
	
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#chosenImg')
                    .attr('src', e.target.result)

					.css('display', 'initial');
					
				$('#divUpImg')
					.height(182)
					.width(282)
					.css('border-style', 'solid')
					.css('border-width', '1px')
					.css('background', 'none');
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
	
	$("#divUpImg").click(function () {
    $("#inputUpImg").trigger('click');
});
</script>

<script>
	$('#timepicker').timepicker();
    $( function() {
		$( "#datepicker" ).datepicker({
		changeMonth: true,
		changeYear: true
		});
	});
	
	window.onscroll = function() {myFunction()};
	function myFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			document.getElementById("fixedHeader").style.display = "block";
		} else {
			document.getElementById("fixedHeader").style.display = "none";
		}
	}
</script>

