
<div style="background: white;">
    <div class="top-header" id="fixedHeader">
		<div class="fix-header-div1" ng-click="goTo_Home()"></div>
        <div class="fix-header-div2">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?" ng/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()"><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
	</div>

    <div class="header" id="defaultHeader">
        <div class="header-div1">
            <div class="link-dk-dn" ng-show="show1" >
                <a class="text-link-dk-dn" ng-click="goTo_Login()">Đăng nhập</a>
                <a class="text-link-dk-dn" ng-click="goTo_SignUp()">Đăng ký</a>
            </div>
            
            <div ng-hide="show1">
				<div class="dropdown">
					<div class="box-username">
						<i class="fa fa-user-circle icon-user" style="font-size:18px;"></i>
						<a class="text-username"> {{username}}</a>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-account"> 
							<span class="dropdown-myInfo" ng-click="goTo_User_Info()"> Trang cá nhân </span>
						</div>
						<div class="dropdown-account"> 
							<span class="dropdown-logOut" ng-click="goTo_Logout()"> Đăng xuất </i> </span>
						</div>
					</div>
				</div>
				
                <div id="notiBoxFollow" ng-class="notiFollowClass" ng-init="notiFollowClass = 'box-noti'" ng-click="showNotiFollow()">
					<i class="fa fa-heart icon-notification" style="font-size:18px;"></i>
                    <span class="badge">{{follow_noti}}</span>
					<div id="notiFollow" class="div-show-follow-container" ng-show="divNotiFollow">
						<span class="text-noti text-noti-delete" style="float:right; margin-right: 10px;"> Xóa tất cả </span>
						<span class="text-noti" style="display:block"> <strong> THÔNG BÁO THEO DÕI </strong> </span>
						<div class="div-show-noti" ng-show="divNotiFollow"> 
							<div class="noti-div-container">
							
								<div class="noti-div">
									<div class="noti-img-div">
										<img class="noti-img" src="image/image-default.png">
									</div>	
									<div class="noti-delete-div">
										<img class="noti-img" src="image/icon-delete.png">
									</div>	
									<span style="display:block">  qwyetqwyeqeqqeq  </span>
									<span style="display:block"> qwyqeq  </span>
									<span style="display:block">  qwyetqwyeqeqqeq  </span>									
								</div>
								
							</div>				
							
						</div>
					</div>
				</div>
				
				<div id="notiBoxAuction" ng-class="notiAuctionClass" ng-init="notiAuctionClass = 'box-noti'" ng-click="showNotiAuction()">
					<i class="fa fa-bell icon-notification" style="font-size:18px;"></i>
                    <span class="badge">{{auction_noti}}</span>
					<div id="notiAuction" class="div-show-auction-container" ng-show="divNotiAuction">
						<span class="text-noti text-noti-delete" style="float:right; margin-right: 10px;"> Xóa tất cả </span>
						<span class="text-noti" style="display:block"> <strong> THÔNG BÁO ĐẤU GIÁ </strong> </span>
						<div  class="div-show-noti" ng-show="divNotiAuction"> 
							<div class="noti-div-container">
								<div class="noti-div">
									<div class="noti-img-div">
										<img class="noti-img" src="image/image-default.png">
									</div>	
									<div class="noti-delete-div">
										<img class="noti-img" src="image/icon-delete.png">
									</div>	
									<span style="display:block">  qwyetqwyeqeqqeq  </span>
									<span style="display:block"> qwyqeq  </span>
									<span style="display:block">  qwyetqwyeqeqqeq  </span>									
								</div>
							</div>				
							
						</div>
					</div>
				</div>
            </div>
        </div>
        
        <div class="header-div2" ng-click="goTo_Home()">
        </div>
        
        <div class="header-div3">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?"/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()" ><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
    </div>
        
    <div class="body-add-item">
		<div class="three-step-div">
            <div class="step1">
				<div class="circle-number">
					<span> 1 </span>
				</div>
				<span> ĐĂNG TIN</span>
            </div>
			<div class="step2">
				<div class="circle-number">
					<span> 2 </span>
				</div>
                <span> KIỂM TRA LẠI</span>
            </div>
			<div class="step3-chosen">
				<div class="circle-number-chosen">
					<span> 3 </span>
				</div>
                <span> HOÀN TẤT</span>
            </div>
        </div>
     
		<div class="add-item-info">
			<div class="completed-div">
				<div class="completed-div-1">		
					<span> <i class="fa fa-check-circle-o icon-completed"> </i> </span>
				</div>
				
				<div class="completed-div-2">
					<span class="completed-text"> Đăng tin thành công! Sản phẩm của bạn đã được đưa lên đấu giá</span>
				</div>
			</div>
			
		</div>

    </div>


	
    <div class="footer">
    	<div class="footer-begin">
    	</div>
    
    	<div class="footer-container">
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> CHUYÊN MỤC </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ điện tử </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Giải trí, Thể thao, Sở thích</span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Xe cộ, máy móc </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Mẹ & Bé </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Thời trang & Phụ kiện </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ ăn, thức uống </span>
           		</div>   
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ gia dụng </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Sức khỏe & Sắc đẹp </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Bất động sản </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Các loại khác </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> INFOMATION </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng nhập </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng kí </span>
           		</div>  

                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Liên hệ </span>
           		</div>  
            </div>
            
            <div class="footer-ket-noi">
            	<div class="footer-title">
            		<span style="display:block;"> ĐĂNG KÍ NHẬN TIN ĐẤU GIÁ HỜI </span>
                    <input class="input-email" placeholder="Enter your email address"/>
            		<button class="btn-subscribe"><i class="fa fa-envelope" style="color: white;"> </i> SUBSCRIBE </button>
                    
 					<span style="display:block; clear:both"> KẾT NỐI VỚI CHÚNG TÔI </span>
                    <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                	</div>    
				</div>
			</div>
        </div>
            
    	<div style="width: 100%; clear:both; padding-top: 30px;">
        	<img class="footer-logo" src="image/logo-2.png">
    	</div>
    	
        <div class="footer-end">
        	<span> Đấu giá - trang web đồ án của Nguyễn Đình Chung - Đặng Thành Danh - Đinh Thị Thùy Dung :) </span>
    	</div>
    </div>
    
</div>

<script>
	
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#chosenImg')
                    .attr('src', e.target.result)

					.css('display', 'initial');
					
				$('#divUpImg')
					.height(182)
					.width(282)
					.css('border-style', 'solid')
					.css('border-width', '1px')
					.css('background', 'none');
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
	
	$("#divUpImg").click(function () {
    $("#inputUpImg").trigger('click');
});
</script>

<script>
	$('#timepicker').timepicker();
    $( function() {
		$( "#datepicker" ).datepicker({
		changeMonth: true,
		changeYear: true
		});
	});
	
	window.onscroll = function() {myFunction()};
	function myFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			document.getElementById("fixedHeader").style.display = "block";
		} else {
			document.getElementById("fixedHeader").style.display = "none";
		}
	}
</script>

