<div style="background: white;">
    <div class="top-header" id="fixedHeader">
		<div class="fix-header-div1" ng-click="goTo_Home()"></div>
        <div class="fix-header-div2">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?" ng/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()"><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
	</div>

    <div class="header" id="defaultHeader">
        <div class="header-div1">
            <div class="link-dk-dn" ng-show="show1" >
                <a class="text-link-dk-dn" ng-click="goTo_Login()">Đăng nhập</a>
                <a class="text-link-dk-dn" ng-click="goTo_SignUp()">Đăng ký</a>
            </div>
            
            <div ng-hide="show1">
				<div class="dropdown">
					<div class="box-username">
						<i class="fa fa-user-circle icon-user" style="font-size:18px;"></i>
						<a class="text-username"> {{username }}</a>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-account"> 
							<span class="dropdown-myInfo" ng-click="goTo_User_Info()"> Trang cá nhân </span>
						</div>
						<div class="dropdown-account"> 
							<span class="dropdown-logOut" ng-click="goTo_Logout()"> Đăng xuất </i> </span>
						</div>
					</div>
				</div>
				
                <div class="icon-wrapper">
                    <i class="fa fa-heart icon-notification" style="font-size:18px;"></i>
                    <span class="badge">{{follow_noti}}</span>
                </div>
                
                <div class="icon-wrapper">
                    <i class="fa fa-bell icon-notification" style="font-size:18px;"></i>
                    <span class="badge">{{auction_noti}}</span>
                </div>
            </div>
        </div>
        
        <div class="header-div2" ng-click="goTo_Home()">
        </div>
        
        <div class="header-div3">
            <input class="input-tim-kiem" ng-model="searchString" placeholder="What are you looking for?"/>
            <button class="btn-tim-kiem" ng-click="goTo_Search_Result()" ><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white" ng-click="goTo_Add_Item()"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
    </div>
        
    <div class="body-add-item">
		<div class="three-step-div">
            <div class="step1-chosen">
				<div class="circle-number-chosen">
					<span> 1 </span>
				</div>
				<span> ĐĂNG TIN</span>
            </div>
			<div class="step2">
				<div class="circle-number">
					<span> 2 </span>
				</div>
                <span> KIỂM TRA LẠI</span>
            </div>
			<div class="step3">
				<div class="circle-number">
					<span> 3 </span>
				</div>
                <span> HOÀN TẤT</span>
            </div>
        </div>
     
		<div class="add-item-info">
			<span class="add-item-title"> NỘI DUNG TIN </span>

			<div class="tooltip">
				<span class="add-info-label"> Tên sản phẩm <span class="color-red">*</span> </span>
				<input id ="item_name" ng-class="class_name" ng-init="class_name = 'add-info-input'" ng-model="item_name"  ng-focus="showTipName()" ng-blur="hideTipName()" placeholder="Nhập tên sản phẩm tại đây"/>
				
				<span class="error" ng-show="error_show_name"> {{error_name}}</span>				
				<span class="tooltiptext" ng-show="tipName">
					<p>- Điền tên mặt hàng bạn muốn đấu giá</p>
					<p>- Nội dung không được chứa giá tiền, thông tin liên lạc</p>
					<p>- Càng ngắn gọn càng tốt</p>
				</span>
			</div>
			
			<div class="tooltip">
				<span class="add-info-label"> Mô tả <span class="color-red">*</span> </span>
				<textarea rows="5" cols="1" id="item_content" ng-class="class_content" ng-init="class_content = 'add-info-textarea'" ng-model="item_content" ng-focus="showTipContent()" ng-blur="hideTipContent()"placeholder=
				"Nhập mô tả tại đây"/>
				
				<span class="error" ng-show="error_show_content"> {{error_content}}</span>
				<span class="tooltiptext" ng-show="tipContent">
					<p>- Hãy mô tả sản phẩm đấu giá càng chi tiết càng tốt</p>
					<p>- Nội dung không được chứa giá tiền, thông tin liên lạc</p>
					<p>- Giới hạn: 2500 ký tự</p>
				</span>			
			</div>
			
			<div class="tooltip">
				<span class="add-info-label" style="line-height: 28px;"> Chuyên mục <span class="color-red">*</span> </span>
				<select id="item_type" ng-class="class_type" ng-init="class_type = 'add-info-select';item_type = types[0]" ng-model="item_type" ng-options="type for type in types" ng-focus="showTipType()" ng-blur="hideTipType()">
				</select>
				
				<span class="error" ng-show="error_show_type"> {{error_type}}</span>
				<span class="tooltiptext" ng-show="tipType">
					<p>- Sản phẩm bạn đấu giá nằm trong chuyên mục nào?</p>
					<p>- Lưu ý nên chọn đúng chuyên mục sản phẩm, các tin không đăng đúng chuyên mục sẽ rất khó cho người dùng trong việc tìm kiếm</p>
				</span>	
			</div>
			
			<div class="tooltip">
				<span class="add-info-label" style="line-height: 28px;"> Trạng thái sản phẩm <span class="color-red">*</span> </span>
				<select id="item_situation" ng-class="class_situation" ng-init="class_situation = 'add-info-select';item_situation = situations[0]" ng-model="item_situation"ng-options="stt for stt in situations">
				</select>
				
				<span class="error" ng-show="error_show_situation"> {{error_situation}}</span>				
			</div>
			
			<div class="tooltip">
				<span class="add-img-label"> Chọn hình ảnh <span class="color-red">*</span> </span>
				<div ng-class="class_image" ng-init="class_image = 'chose-img-div'" ng-click="selectImg()">
					<img class="chosen-img" ng-src="{{item_image}}"/>
					<span class="error" ng-show="error_show_image"> {{error_image}}</span>
				</div>

			</div>

			<span class="add-item-title"> PHƯƠNG THỨC BÁN HÀNG </span>
			
			<div class="tooltip"> 
				<span class="add-info-label"> Giá khởi điểm <span class="color-red">*</span> </span>				
				<input id="item_price" ng-class="class_price" ng-init="class_price = 'add-info-input'" ng-model="item_price" ng-focus="showTipPrice()" ng-blur="hideTipPrice()" placeholder="Nhập giá khởi điểm ở đây" ng-keypress="filterValue($event)" ng-change="changePrice()"/>
				
				<span class="error" ng-show="error_show_price"> {{error_price}}</span>
				<span class="tooltiptext" ng-show="tipPrice">
					<p>- Giá khởi điểm hay còn gọi là giá sàn (Là giá khởi điểm chấp nhận được của mặt hàng)</p>
				</span>
			</div>
			
			<div class="tooltip">
				<span class="add-info-label"> Ngày kết thúc <span class="color-red">*</span> </span>				
				<input ng-class="class_date" ng-init="class_date = 'add-info-input'" ng-model="item_date" id="datepicker" placeholder="Chọn ngày kết thúc đấu giá"/>
				
				<span class="error" ng-show="error_show_date"> {{error_date}}</span>
			</div>
			
			<div class="tooltip">
				<span class="add-info-label"> Giờ kết thúc <span class="color-red">*</span> </span>
				<input ng-class="class_time" ng-init="class_time = 'add-info-input'" ng-model="item_time" id="timepicker" placeholder="Chọn giờ kết thúc đấu giá"/>
				
				<span class="error" ng-show="error_show_time"> {{error_time}}</span>
			</div>

			<span class="add-item-title"> NƠI BÁN VÀ CÁCH THỨC VẬN CHUYỂN </span>
			
			<div class="tooltip">
				<span class="add-info-label" style="line-height: 28px;"> Khu vực bán hàng <span class="color-red">*</span> </span>
				<select id="item_location" ng-class="class_location" ng-init="class_location = 'add-info-select';item_location = locations[0]" ng-model="item_location"ng-options="location for location in locations" ng-focus="showTipLocation()" ng-blur="hideTipLocation()">
				</select>
				
				<span class="error" ng-show="error_show_location"> {{error_location}}</span>
				<span class="tooltiptext" ng-show="tipLocation">
					<p>- Chọn địa phận bán hàng</p>
				</span>	
			</div>
			
			<div class="tooltip">
				<span class="add-info-label" style="line-height: 28px;"> Vận chuyển <span class="color-red">*</span> </span>
				<select id="item_trans" ng-class="class_trans" ng-init="class_trans = 'add-info-select';item_trans = trans[0]" ng-model="item_trans" ng-options="tran for tran in trans" ng-focus="showTipLocation()" ng-blur="hideTipLocation()">
				</select>
				
				<span class="error" ng-show="error_show_trans"> {{error_trans}}</span>
				<span class="tooltiptext" ng-show="tipTrans">
					<p>- Chọn cách chi trả phí vận chuyển.</p>
				</span>	
			</div>
			 
			<div class="tooltip">
				<span class="color-red" style="font-size: 14px;"> (*) Các thông tin bạn cần nhập đầy đủ </span>
			</div> 
			
			<div class="check-item-div4">
			<button class="btn-check-again" ng-click="checkToNextStep()">Kiểm tra lại </button>
			</div>
        </div>
		

	</div> 		

	
    <div class="footer">
    	<div class="footer-begin">
    	</div>
    
    	<div class="footer-container">
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> CHUYÊN MỤC </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ điện tử </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Giải trí, Thể thao, Sở thích</span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Xe cộ, máy móc </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Mẹ & Bé </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Thời trang & Phụ kiện </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ ăn, thức uống </span>
           		</div>   
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đồ gia dụng </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Sức khỏe & Sắc đẹp </span>
           		</div>  
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Bất động sản </span>
           		</div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Các loại khác </span>
           		</div>  
            </div>
            
            <div class="footer-chuyen-muc">
            	<div class="footer-title">  
            		<span> INFOMATION </span>
                </div>
                
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng nhập </span>
           		</div>  
           
                <div class="footer-item"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Đăng kí </span>
           		</div>  

                <div class="footer-item" style="border-bottom: none;"> 
            		<i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                	<span> Liên hệ </span>
           		</div>  
            </div>
            
            <div class="footer-ket-noi">
            	<div class="footer-title">
            		<span style="display:block;"> ĐĂNG KÍ NHẬN TIN ĐẤU GIÁ HỜI </span>
                    <input class="input-email" placeholder="Enter your email address"/>
            		<button class="btn-subscribe"><i class="fa fa-envelope" style="color: white;"> </i> SUBSCRIBE </button>
                    
 					<span style="display:block; clear:both"> KẾT NỐI VỚI CHÚNG TÔI </span>
                    <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                	</div>    
				</div>
			</div>
        </div>
            
    	<div style="width: 100%; clear:both; padding-top: 30px;">
        	<img class="footer-logo" src="image/logo-2.png">
    	</div>
    	
        <div class="footer-end">
        	<span> Đấu giá - trang web đồ án của Nguyễn Đình Chung - Đặng Thành Danh - Đinh Thị Thùy Dung :) </span>
    	</div>
    </div>
    
</div>

<script>
	window.onscroll = function() {myFunction()};
	function myFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			document.getElementById("fixedHeader").style.display = "block";
		} else {
			document.getElementById("fixedHeader").style.display = "none";
		}
	}
</script>

