

<div style="background: white;" class="dk-background">
    <div class="header">
        <div class="header-div1">
            <div class="link-dk-dn" ng-show="show1" >
                <a class="text-link-dk-dn" >Đăng nhập</a>
                <a class="text-link-dk-dn">Đăng ký</a>
            </div>
            
            <div ng-hide="show1">
                <div class="box-username">
                    <i class="fa fa-user-circle icon-user" style="font-size:18px;"></i>
                    <a class="text-username"> Nguyễn Đình Chungggg</a>
                </div>
                
                <div class="icon-wrapper">
                   <i class="fa fa-heart icon-notification" style="font-size:18px;"></i>
                   <span class="badge">9</span>
                </div>
                
                <div class="icon-wrapper">
                    <i class="fa fa-bell icon-notification" style="font-size:18px;"></i>
                    <span class="badge">9</span>
                </div>
            </div>
        </div>
        
        <div class="header-div2">      
        </div>
        
        <div class="header-div3"> 
            <input class="input-tim-kiem" placeholder="What are you looking for?"/>
            <button class="btn-tim-kiem"><i class="fa fa-search" style="color: white;"> </i> </button>
            <button class="btn-dang-tin color-white"><i class="fa fa-pencil-square-o" style="padding-right:4px; color: white;"> </i> ĐĂNG TIN </button>
        </div>
    </div>
    
    <div class="banner">
        <div class="banner-div1">
            <div class="danh-muc"> 
                <span> DANH MỤC SẢN PHẨM </span>
            </div>        
            <span style="padding-left:50px; line-height:40px; font-size:15px;"> Trang chủ </span>
        </div>
        
        <div class="banner-div2">
            <div class="item"> 
                <i class="fa fa-laptop" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Đồ điện tử </span>
            </div>  
           
            <div class="item"> 
                <i class="fa fa-futbol-o" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Giải trí, thể thao, sở thích </span>
            </div>
            
            <div class="item"> 
                <i class="fa fa-car" style="font-size:22px; vertical-align: -3px; width: 34px;" > </i>
                <span> Xe cộ, máy móc </span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-child" style="font-size:24px; vertical-align: -3px; width: 29px; padding-left: 5px;" > </i>
                <span> Mẹ và bé </span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-umbrella" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Thời trang & phụ kiện </span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-cutlery" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Đồ ăn, thức uống </span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-shower" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Đồ gia dụng </span>
            </div>   
            
            <div class="item"> 
                <i class="fa fa-heart" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Sức khỏe & sắc đẹp </span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-home" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Bất động sản</span>
            </div>  
            
            <div class="item"> 
                <i class="fa fa-gears" style="font-size:24px; vertical-align: -3px; width: 34px;" > </i>
                <span> Các loại khác </span>        
            </div>   
        </div> 
                
        <div class="banner-div3">
            <span style="font-size: 17px; margin: 10px; margin-bottom: 0px; line-height: 22px; display:inline-block;"> Đấu giá mới nhất </span>
            <div class="new-post">
                <div class="new-post-img">
                    <img class="new-post-img-2" src="image/new-item-1.jpg">
                    <img class="new-post-img-3" src="image/new-vector.png">
                </div>
                <div class="new-post-text">
                    <span class="new-post-text-name"> Tên sản phẩm dài nhất 1 2 </span>
                    <span class="new-post-text-price"> 400.000đ </span>
                    <span class="new-post-text-location"> Hà nội </span>
                </div>
            </div>
            
            <div class="new-post">
                <div class="new-post-img">
                    <img class="new-post-img-2" src="image/new-item-1.jpg">
                    <img class="new-post-img-3" src="image/new-vector.png">
                </div>
                <div class="new-post-text">
                    <span class="new-post-text-name"> Tên sản phẩm </span>
                    <span class="new-post-text-price"> Giá </span>
                    <span class="new-post-text-location"> Địa chỉ </span>
                </div>
            </div>
            
            <div class="new-post">
                <div class="new-post-img">
                    <img class="new-post-img-2" src="image/new-item-1.jpg">
                    <img class="new-post-img-3" src="image/new-vector.png">
                </div>
                <div class="new-post-text">
                    <span class="new-post-text-name"> Tên sản phẩm </span>
                    <span class="new-post-text-price"> Giá </span>
                    <span class="new-post-text-location"> Địa chỉ </span>
                </div>
            </div>
            
            <div class="new-post">
                <div class="new-post-img">
                    <img class="new-post-img-2" src="image/new-item-1.jpg">
                    <img class="new-post-img-3" src="image/new-vector.png">
                </div>
                <div class="new-post-text">
                    <span class="new-post-text-name"> Tên sản phẩm </span>
                    <span class="new-post-text-price"> Giá </span>
                    <span class="new-post-text-location"> Địa chỉ </span>
                </div>
            </div>
        </div>
        
        <div id="slideshow">
            <div>
                <img class="img-banner" src="image/slide-img1.jpg">
            </div>
                    
            <div>
                <img class="img-banner" src="image/slide-img2.jpg">
            </div>
                    
            <div>
                <img class="img-banner" src="image/slide-img3.jpg">
            </div>
        </div>         
    </div>
    
    <div class="main-container"> 
        <div class="container"> 
            <div class="title">
                <a> ĐỒ ĐIỆN TỬ </a>
            </div>
        
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
               
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
            
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
            
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
            
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
        </div>
    
        <div class="container"> 
            <div class="title">
                <a> GIẢI TRÍ, THỂ THAO, ƯA THÍCH</a>
            </div>
            
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
                   
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
                
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
                
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
                
            <div class="item-list">
                <div class="item-list-inner">
                    <img class="img-item-inner" src="image/new-item-1.jpg">
                    <span class="item-text-name"> Tên sản phẩm </span>
                    <span class="item-text-price"> Gia </span>
                    <span class="item-text-time"> Thoi han </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-begin">
        </div>
    
        <div class="footer-container">
            <div class="footer-chuyen-muc">
                <div class="footer-title">  
                    <span> CHUYÊN MỤC </span>
                </div>
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Đồ điện tử </span>
                </div>  
           
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Giải trí, Thể thao, Sở thích</span>
                </div>  
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Xe cộ, máy móc </span>
                </div>  
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Mẹ & Bé </span>
                </div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Thời trang & Phụ kiện </span>
                </div>  
            </div>
            
            <div class="footer-chuyen-muc">
                <div class="footer-title">  
                </div>
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Đồ ăn, thức uống </span>
                </div>   
           
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Đồ gia dụng </span>
                </div>  
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Sức khỏe & Sắc đẹp </span>
                </div>  
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Bất động sản </span>
                </div>  
                
                <div class="footer-item" style="border-bottom: none;"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Các loại khác </span>
                </div>  
            </div>
            
            <div class="footer-chuyen-muc">
                <div class="footer-title">  
                    <span> INFORMATION </span>
                </div>
                
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Đăng nhập </span>
                </div>  
           
                <div class="footer-item"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Đăng kí </span>
                </div>  

                <div class="footer-item" style="border-bottom: none;"> 
                    <i class="fa fa-angle-right" style="font-size:15px; width: 10px;" > </i>
                    <span> Liên hệ </span>
                </div>  
            </div>
            
            <div class="footer-ket-noi">
                <div class="footer-title">  
                    <span style="display:block;"> ĐĂNG KÍ NHẬN TIN ĐẤU GIÁ HỜI </span>
                    <input class="input-email" placeholder="Enter your email address"/>
                    <button class="btn-subscribe"><i class="fa fa-envelope" style="color: white;"> </i> SUBSCRIBE </button>
                    
                    <span style="display:block; clear:both"> KẾT NỐI VỚI CHÚNG TÔI </span>
                    <div>
                    <a class="icon-fb"></a>
                    <a class="icon-google"></a>
                    </div>    
                </div>
            </div>
        </div>
            
        <div style="width: 100%; clear:both; padding-top: 30px;">
            <img class="footer-logo" src="image/logo-2.png">
        </div>
        
        <div class="footer-end">
            <span> Đấu giá - trang web đồ án của Nguyễn Đình Chung - Đặng Thành Danh - Đinh Thị Thùy Dung :) </span>
        </div>
    </div>
    
</div>

<script>
$("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);
</script>